---
import SubscriberForm from "../components/SubscriberForm";

---


<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width," />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="grid place-items-center min-h-screen">
        <div class="grid gap-4">
            <h1 class="text-2xl font-bold">subscribite en mi blog</h1>
            <SubscriberForm client:visible/>
        </div>
    </body>
</html>